.leaf {
  position: relative;
  top: 20%;
  background-image: linear-gradient(to right bottom, #cdd16b, #c0cd69, #b4c868, #a7c468, #9bbf67,
  #8fb962, #84b35e, #78ad5a, #6aa451, #5b9b48, #4b923f, #3b8937);
  width: 60px;
  height: 60px;
  border-radius: 0% 100% 0% 73% / 15% 67% 0% 96%;
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
}